<div class="page-wrapper">
  <header>
    <h1>Fashion App</h1>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/shop">Shop</a></li>
        <li><a routerLink="/aboutUs">About</a></li>
        <li><a routerLink="/contactUs">Contact</a></li>
        <li><a routerLink="/cart">Cart</a></li>
       
       
       

      </ul>
      <!-- Login & Signup Buttons -->
      <div *ngIf="!isLoggedIn()" class="auth-buttons">
        <button routerLink="/user" class="login-btn">Login</button>
      </div>
      <div *ngIf="isLoggedIn()" class="auth-buttons">
       <!-- <h3>{{Profile}}</h3> -->
        <button (click)="logout()" class="login-btn">LogOut</button>
      </div>



 <div *ngIf="!isvendorLoggedIn()" class="auth-buttons">
  <button routerLink="/vlogin" class="login-btn">Vendor-Login</button>
 </div>
 <div *ngIf="isvendorLoggedIn()" class="auth-buttons">
  <button (click)="vendorlogout()" class="login-btn">Vendor-Logout</button>
 </div>


      
    </nav>
  </header>

 

  <router-outlet></router-outlet>

  <footer>
    <p>© 2025 Fashion App. All rights reserved.</p>
  </footer>
</div>