<div class="clothing-container">
    <h2>Clothing Products</h2>
  
  
    <div class="product-list" *ngIf="!showAllProducts">
      <ng-container *ngFor="let product of myClothingList | slice:0:num">
        <div class="product-card">
          <img [src]="product.image_url" alt="{{ product.name }}">
          <h3>{{ product.name }}</h3>
          <p>{{ product.price | currency: 'INR' }}</p>
          <button class="btn btn-primary" (click)="AddToCart(product)">Add to Cart</button>
        </div>
      </ng-container>
    </div>
    
    <div class="product-list" *ngIf="showAllProducts">
      <ng-container *ngFor="let product of myClothingList">
        <div class="product-card">
          <img [src]="product.image_url" alt="{{ product.name }}">
          <h3>{{ product.name }}</h3>
          <p>{{ product.price | currency: 'INR' }}</p>
          <button class="btn btn-primary" (click)="AddToCart(product)">Add to Cart</button>
        </div>
      </ng-container>
    </div>
  
    <ng-container *ngIf="!showAllProducts">
      <a class="show-more" (click)="showMore()">Show more...</a>
    </ng-container>
    <ng-container *ngIf="showAllProducts">
      <a class="show-more" (click)="showLess()">Show less...</a>
    </ng-container>
  </div>