<div class="sidebar">
  <h2>Dashboard</h2>
  <ul>
    <!-- Vendor Management -->
    <li (click)="toggleDropdown('vendor')">
      Vendor Management
      
    </li>
    <ul *ngIf="dropdowns.vendor">
      <li>
        <a routerLink="/vendor">Add Vendor</a>
      </li>
      <li>
        <a routerLink="/vendor/delete-vendor">Delete Vendor</a>
      </li>
      <li>
        <a routerLink="/vendorManagement/update">Update Vendor</a>
      </li>
      <li>
        <a routerLink="/vendorManagement/view">View All Vendors</a>
      </li>
    </ul>

    <!-- Customer Management -->
    <li (click)="toggleDropdown('customer')">
      Customer Management
      
    </li>
    <ul *ngIf="dropdowns.customer">
      <li (click)="navigateTo('customer/view')">View All Customers</li>
    </ul>

    <!-- Products Management -->
    <li (click)="toggleDropdown('products')">
      Products Management
     
    </li>
    <ul *ngIf="dropdowns.products">
      <li (click)="navigateTo('products/view')">View All Products</li>
    </ul>
  </ul>
</div>
